<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <main>
        <% countries.forEach( country=>{ %>
            <article>
                <h3>Country : <%=country.country %>
                </h3>
                <h5> Total Confirmed Cases : <%=country.totalConfirmed %>
                </h5>
                <h5>Total Deaths Cases :<%=country.totalDeaths %>
                </h5>
                <h5>Total Recovered Cases :<%=country.totalRecovered %>
                </h5>
                <h5> Date : <%=country.date %>
                </h5>

                <form action="/myRecords" method="POST">
                    <input type="text" name="country" value="<%=country.country %>" hidden>
                    <input type="text" name="confirmed" value="<%=country.totalConfirmed %>" hidden>
                    <input type="text" name="deaths" value="<%=country.totalDeaths %>" hidden>
                    <input type="text" name="recover" value="<%=country.totalRecovered %>" hidden>
                    <input type="text" name="date" value="<%=country.date %>" hidden>

                    <button type="submit">add to my records</button>
                </form>
            </article>

            <% }) %>
    </main>
</body>

</html>