<!DOCTYPE html>
<html lang="en">

<%- include('layout/head') %>

    <body>
        <%- include('layout/header') %>
            <%- include('layout/navbar') %>
                <main>
                    <% cards.forEach(card=>{ %>
                        <article>
                            <h3>Date : <%= card.Date %>
                            </h3>
                            <h3>cases : <%= card.Cases || 'No Cases' %>
                            </h3>
                        </article>
                        <% }) %>
                </main>
                <%- include('layout/footer') %>
    </body>

</html>