<!DOCTYPE html>
<html lang="en">

<%- include('layout/head') %>

    <body>
        <%- include('layout/header') %>
            <%- include('layout/navbar') %>
                <main class="white">
                    <section id="total-stats" class=" center">
                        <h2 class="heading-two">World Total Statistics</h2>
                        <div class="container flex-container">
                            <article class="pink container white-font">
                                <p>Total Confirmed:
                                    <%= stats.TotalConfirmed %>
                                </p>
                            </article>
                            <article class="pink container white-font">
                                <p>Total Deaths: <%= stats.TotalDeaths %>
                                </p>
                            </article>
                            <article class="pink container white-font">
                                <p>Total Recovered: <%= stats.TotalRecovered %>
                                </p>
                            </article>
                        </div>
                    </section>
                    <section id='country-stats-form' class="center">
                        <h2 class="heading-two">Get Statistics for Specific Country</h2>
                        <div class="container">
                            <form action="/countryResult" method="GET">
                                <input type="text" name="country" placeholder="country name">
                                <input type="date" name='dateFrom'>
                                <input type="date" name='dateTo'>

                                <button class="blue white-font home-page-button" type="submit"> Search <i
                                        class="fas fa-search"></i></button>
                            </form>
                        </div>
                    </section>
                </main>
                <%- include('layout/footer') %>
    </body>

</html>