<!DOCTYPE html>
<html lang="en">

<%- include('layout/head') %>

    <body>
        <%- include('layout/header') %>
            <%- include('layout/navbar') %>
                <main>
                    <% if(records.length> 0){%>
                        <% records.forEach( record=>{ %>
                            <article>
                                <h3>Country : <%=record.country %>
                                </h3>

                                <h5> Date : <%=record.date %>
                                </h5>

                                <a href="/recordDetails/<%=record.id %>" +record.id>
                                    <button> view details</button>
                                </a>
                                <% })%>

                                    <%} else {%>
                                        <h1>NO AVAILABLE RECORDS </h1>
                                        <%}%>

                </main>
                <%- include('layout/footer') %>
    </body>

</html>