<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= country.country %>
    </title>
    <link rel="stylesheet" href="/css/base.css" />
</head>

<body>
    <%- include('layout/header') %>
        <%- include('layout/navbar') %>
            <main class="center">
                <div class="container flex-container">
                    <article class="country-card">
                        <figcaption>
                            <h2 class="heading-two pink-font">Country : <%= country.country %>
                            </h2>
                            <h3> Total Confirmed Cases : <%= country.totalconfirmed %>
                            </h3>
                            <h3>Total Deaths Cases :<%= country.totaldeaths %>
                            </h3>
                            <h3>Total Recovered Cases :<%= country.totalrecovered %>
                            </h3>
                            <h3> Date : <%= country.date %>
                            </h3>
                        </figcaption>

                        <form class="card-button-container" action="/recordDetails/<%= country.id %>?_method=DELETE"
                            method="POST">
                            <button class="delete white-font" type="submit"> DELETE</button>
                        </form>
                    </article>
                </div>
            </main>
            <%- include('layout/footer') %>
</body>

</html>