<!DOCTYPE html>
<html lang="en">

<%- include('layout/head') %>

    <body>
        <%- include('layout/header') %>
            <%- include('layout/navbar') %>
                <main>
                    <article>
                        <h3>Country : <%= country.country %>
                        </h3>
                        <h5> Total Confirmed Cases : <%= country.totalconfirmed %>
                        </h5>
                        <h5>Total Deaths Cases :<%= country.totaldeaths %>
                        </h5>
                        <h5>Total Recovered Cases :<%= country.totalrecovered %>
                        </h5>
                        <h5> Date : <%= country.date %>
                        </h5>

                        <form action="/recordDetails/<%= country.id %>?_method=DELETE" method="POST">
                            <button type="submit"> Delete button</button>
                        </form>
                    </article>
                </main>
                <%- include('layout/footer') %>
    </body>

</html>